In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\DELL-IN'

In [4]:
cd "C:\Users\DELL-IN\Downloads\Video\AL\Assisgnments\8. Basic Stats - Case Study-2"

C:\Users\DELL-IN\Downloads\Video\AL\Assisgnments\8. Basic Stats - Case Study-2

In [6]:
hyp=pd.read_csv('Testing_Of_Hypothesis.csv')

In [7]:
hyp.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [12]:
import scipy.stats as stats

## Q 1

H0: mean=75
H1: mean!=75
Test:One-sample t-test

In [10]:
hyp['Samsung Score'].mean()

84.9

In [14]:
stats.ttest_1samp(a=hyp['Samsung Score'],
                   popmean=75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

In [16]:
#p<0.01 i.e we don't accept null at 95% significance level and sample shows mean is greater than 75

## Q 2

H0: Samsung Score = Apple Score
H1: Samsung Score != Apple Score
Test: Two Sample ttest(independent)

In [18]:
print(hyp["Samsung Score"].mean())
print(hyp['Apple_Score'].mean())

84.9
87.81

In [20]:
print(hyp["Samsung Score"].std())
print(hyp['Apple_Score'].std())

11.84453161982057
9.628131131788196

In [22]:
stats.ttest_ind(a=hyp["Samsung Score"],b=hyp['Apple_Score'],equal_var=False)

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)

In [ ]:
# p>0.01 we accept null with 95% significance level