# Pandas Exercise: Merging (MPG Cars)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import random
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [2]:
cars1=pd.read_csv('C:/Users/DELL-IN/Downloads/Video/AL/7/Pandas Case Study/0. Data/cars1.csv')

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2=pd.read_csv('C:/Users/DELL-IN/Downloads/Video/AL/7/Pandas Case Study/0. Data/cars2.csv')

In [5]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1=cars1.dropna(axis='columns', how='all')

In [7]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [8]:
print(cars1.count())

mpg             198
cylinders       198
displacement    198
horsepower      198
weight          198
acceleration    198
model           198
origin          198
car             198
dtype: int64

In [9]:
print(cars2.count())

mpg             200
cylinders       200
displacement    200
horsepower      200
weight          200
acceleration    200
model           200
origin          200
car             200
dtype: int64

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

In [11]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

In [12]:
cars=pd.concat([cars1,cars2],axis=0)

In [13]:
cars.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model           398
origin          398
car             398
dtype: int64

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [27]:
numbers=np.random.randint(15000,high=73000, size=398, dtype='l')
print(numbers)

[59940 60087 29074 30478 46929 68941 66835 57514 15806 22715 43936 58667
 32498 17694 33791 49910 39930 66545 41437 49443 48777 29028 69283 45034
 59891 24362 68977 34509 51011 40131 28352 29790 37649 41630 18867 21554
 55199 60031 26928 46200 39283 34921 43786 45284 15963 41301 53936 64937
 65998 42962 24610 66342 67803 42095 71419 71737 28989 17908 56278 37008
 34313 36496 17540 52662 20555 54120 52360 44588 18697 32191 29044 44005
 19027 67144 63629 65672 65955 23508 60544 35264 40032 15222 69635 57271
 29844 35724 67428 50792 55780 61979 65068 53722 25805 34641 21023 54937
 59549 38362 43755 61496 29848 33721 67173 32207 67953 67526 52346 39908
 40318 60787 30236 40300 22452 32486 50890 18586 51838 20587 42070 21123
 64627 60816 72022 37611 53676 54793 56374 21526 68839 48693 35117 68193
 51352 66090 19944 16098 69543 21457 43684 51171 56284 27978 26097 22332
 44666 20938 57722 57508 24792 56537 29298 67597 33868 66772 66569 37916
 66411 42284 51641 53878 43614 58084 37695 37537 30995 64506 30303 39292
 61668 68155 66700 24130 38973 36679 52690 34246 72351 38232 43525 55665
 57272 54793 20581 16405 47341 39224 63342 33713 65914 47983 19273 44264
 62054 32370 34891 34064 38240 19338 64575 16810 52011 44790 15920 22176
 59277 31441 30109 30652 38766 48501 20249 16125 22284 63715 59005 45538
 49151 45019 64744 53169 57953 72173 61561 28295 17446 69849 17783 60694
 39476 30223 66868 50401 49166 15921 72576 46015 56582 61226 38824 44294
 44576 51980 35166 18954 47940 45787 50019 58489 16447 57603 66822 36697
 71945 21784 18241 48724 27573 16823 49968 32202 44408 34568 32862 53199
 42484 16002 32060 37969 51049 31821 25786 27830 48281 56624 17990 31952
 42323 18602 15329 69633 30631 19775 68309 34033 45163 54501 70733 31423
 68358 25694 57199 62397 66002 45520 25925 58414 18819 15622 63412 33256
 63194 19085 68355 43428 44043 28809 43508 55033 59158 18784 72578 20061
 26970 55631 71711 47607 38788 67388 44349 57501 25573 15250 22789 27788
 15586 38857 16909 60419 44326 56979 56100 57015 19344 38384 44574 28202
 29182 54535 57592 29787 71464 64982 42664 30559 20785 60127 21594 63274
 41150 19038 54777 39972 44576 29094 41819 47987 44781 62004 40639 54311
 66768 47531 58880 44330 43468 29499 44536 67068 57909 35097 62351 16791
 61526 58727 42372 25569 36039 32648 26694 49869 54333 38825 16268 42062
 58799 41933 52319 35701 62320 28140 42648 21141 63416 20125 43701 24333
 23653 49497]

### Step 8. Add the column owners to cars

In [29]:
cars['owners']=numbers

In [31]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,59940
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,60087
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,29074
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,30478
4,17.0,8,302,140,3449,10.5,70,1,ford torino,46929