# Pandas Exercise: Time Series (Apple Stock)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

In [2]:
apple=pd.read_table('C:/Users/DELL-IN/Downloads/Video/AL/7/Pandas Case Study/0. Data/appl_1980_2014.csv',sep=',')

In [3]:
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [4]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [5]:
apple['Date']=pd.to_datetime(apple['Date'])

In [6]:
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [7]:
apple=apple.set_index('Date')

In [8]:
apple.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [9]:
apple.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [16]:
apple.sort_values('Date')

              Open    High     Low   Close     Volume  Adj Close
Date
1980-12-12   28.75   28.87   28.75   28.75  117258400       0.45
1980-12-15   27.38   27.38   27.25   27.25   43971200       0.42
1980-12-16   25.37   25.37   25.25   25.25   26432000       0.39
1980-12-17   25.87   26.00   25.87   25.87   21610400       0.40
1980-12-18   26.63   26.75   26.63   26.63   18362400       0.41
1980-12-19   28.25   28.38   28.25   28.25   12157600       0.44
1980-12-22   29.63   29.75   29.63   29.63    9340800       0.46
1980-12-23   30.88   31.00   30.88   30.88   11737600       0.48
1980-12-24   32.50   32.63   32.50   32.50   12000800       0.51
1980-12-26   35.50   35.62   35.50   35.50   13893600       0.55
1980-12-29   36.00   36.13   36.00   36.00   23290400       0.56
1980-12-30   35.25   35.25   35.12   35.12   17220000       0.55
1980-12-31   34.25   34.25   34.13   34.13    8937600       0.53
1981-01-02   34.50   34.75   34.50   34.50    5415200       0.54
1981-01-05   33.87   33.87   33.75   33.75    8932000       0.53
1981-01-06   32.37   32.37   32.25   32.25   11289600       0.50
1981-01-07   31.00   31.00   30.88   30.88   13921600       0.48
1981-01-08   30.37   30.37   30.25   30.25    9956800       0.47
1981-01-09   31.88   32.00   31.88   31.88    5376000       0.50
1981-01-12   31.88   31.88   31.62   31.62    5924800       0.49
1981-01-13   30.63   30.63   30.50   30.50    5762400       0.48
1981-01-14   30.63   30.75   30.63   30.63    3572800       0.48
1981-01-15   31.25   31.50   31.25   31.25    3516800       0.49
1981-01-16   31.12   31.12   31.00   31.00    3348800       0.48
1981-01-19   32.87   33.00   32.87   32.87   10393600       0.51
1981-01-20   32.00   32.00   31.88   31.88    7520800       0.50
1981-01-21   32.50   32.75   32.50   32.50    3976000       0.51
1981-01-22   32.87   33.13   32.87   32.87    8887200       0.51
1981-01-23   32.87   33.00   32.75   32.75    2805600       0.51
1981-01-26   32.37   32.37   32.25   32.25    6160000       0.50
...            ...     ...     ...     ...        ...        ...
2014-05-27  615.88  625.86  615.63  625.63   87216500      89.38
2014-05-28  626.02  629.83  623.78  624.01   78870400      89.14
2014-05-29  627.85  636.87  627.77  635.38   94118500      90.77
2014-05-30  637.98  644.17  628.90  633.00  141005200      90.43
2014-06-02  633.96  634.83  622.50  628.65   92337700      89.81
2014-06-03  628.46  638.74  628.25  637.54   73177300      91.08
2014-06-04  637.44  647.89  636.11  644.82   83870500      92.12
2014-06-05  646.20  649.37  642.61  647.35   75951400      92.48
2014-06-06  649.90  651.26  644.47  645.57   87484600      92.22
2014-06-09   92.70   93.88   91.75   93.70   75415000      93.70
2014-06-10   94.73   95.05   93.57   94.25   62777000      94.25
2014-06-11   94.13   94.76   93.47   93.86   45681000      93.86
2014-06-12   94.04   94.12   91.90   92.29   54749000      92.29
2014-06-13   92.20   92.44   90.88   91.28   54525000      91.28
2014-06-16   91.51   92.75   91.45   92.20   35561000      92.20
2014-06-17   92.31   92.70   91.80   92.08   29689800      92.08
2014-06-18   92.27   92.29   91.35   92.18   33493800      92.18
2014-06-19   92.29   92.30   91.34   91.86   35486400      91.86
2014-06-20   91.85   92.55   90.90   90.91  100813200      90.91
2014-06-23   91.32   91.62   90.60   90.83   43618200      90.83
2014-06-24   90.75   91.74   90.19   90.28   38988300      90.28
2014-06-25   90.21   90.70   89.65   90.36   36852200      90.36
2014-06-26   90.37   91.05   89.80   90.90   32595800      90.90
2014-06-27   90.82   92.00   90.77   91.98   64006800      91.98
2014-06-30   92.10   93.73   92.09   92.93   49482300      92.93
2014-07-01   93.52   94.07   93.13   93.52   38170200      93.52
2014-07-02   93.87   94.06   93.09   93.48   28420900      93.48
2014-07-03   93.67   94.10   93.20   94.03   22891800      94.03
2014-07-07   94.14   95.99   94.10   95.97   56305400      95.97
2014-07-08   96.27   96.80   93.92   95.35   65130000      95.35

[8465 rows x 6 columns]

### Step 9. Get the last business day of each month

In [15]:
b=apple.resample('BM').mean()
b

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1980-12-31,30.481538,30.567692,30.443077,30.443077,2.586252e+07,0.473077
1981-01-30,31.754762,31.826667,31.654762,31.654762,7.249867e+06,0.493810
1981-02-27,26.480000,26.572105,26.407895,26.407895,4.231832e+06,0.411053
1981-03-31,24.937727,25.016818,24.836364,24.836364,7.962691e+06,0.387727
1981-04-30,27.286667,27.368095,27.227143,27.227143,6.392000e+06,0.423333
1981-05-29,29.052000,29.188000,28.995000,28.995000,7.380240e+06,0.452500
1981-06-30,30.801818,30.876364,30.703636,30.703636,1.080189e+07,0.477727
1981-07-31,24.436364,24.531818,24.374545,24.374545,7.584436e+06,0.379545
1981-08-31,22.336500,22.386500,22.218500,22.218500,6.857760e+06,0.345000
1981-09-30,18.221429,18.273810,18.131429,18.131429,8.853333e+06,0.283333
1981-10-30,18.603182,18.722273,18.569091,18.569091,1.027473e+07,0.289545
1981-11-30,18.697500,18.774000,18.642500,18.642500,7.333480e+06,0.289500
1981-12-31,20.220909,20.317727,20.164545,20.164545,1.178545e+07,0.313636
1982-01-29,19.938000,20.019000,19.850500,19.850500,1.080268e+07,0.309000
1982-02-26,18.980000,19.052105,18.914211,18.914211,8.005347e+06,0.294737
1982-03-31,16.657391,16.722174,16.592609,16.592609,1.303997e+07,0.259130
1982-04-30,16.356667,16.428095,16.291429,16.291429,2.082853e+07,0.254762
1982-05-31,14.931500,14.993000,14.856500,14.856500,1.554868e+07,0.231500
1982-06-30,13.308182,13.386364,13.240000,13.240000,9.132327e+06,0.205455
1982-07-30,12.881429,12.970476,12.839524,12.839524,1.688347e+07,0.200000
1982-08-31,14.529091,14.625455,14.495000,14.495000,2.450000e+07,0.225000
1982-09-30,18.236190,18.325238,18.182857,18.182857,1.980427e+07,0.281905
1982-10-29,22.927619,23.672857,22.583810,23.254762,4.499413e+07,0.362857
1982-11-30,29.898095,30.988095,29.279048,30.183810,3.752747e+07,0.470476
1982-12-31,31.022727,31.737727,30.368636,31.000000,3.097716e+07,0.484091
1983-01-31,33.154762,34.415714,32.542381,33.637143,5.451227e+07,0.522857
1983-02-28,44.566316,45.566842,43.703684,44.763684,4.149069e+07,0.697895
1983-03-31,43.555217,44.218696,42.651739,43.425652,2.878619e+07,0.675652
1983-04-29,45.387000,46.518000,44.719000,45.756000,4.173540e+07,0.712500
1983-05-31,54.369048,55.368571,53.494762,54.720476,2.481440e+07,0.852857
...,...,...,...,...,...,...
2012-02-29,494.803000,500.849000,491.437500,497.571000,1.421069e+08,67.940000
2012-03-30,576.858182,582.064545,570.245909,577.507727,1.770948e+08,78.855455
2012-04-30,609.607500,615.487500,598.650000,606.003000,1.949874e+08,82.746500
2012-05-31,565.785000,572.141364,558.397273,564.673182,1.262085e+08,77.102727
2012-06-29,574.660952,578.889048,569.213333,574.562381,9.352173e+07,78.454286
2012-07-31,599.610000,604.920952,594.680476,601.068095,1.060673e+08,82.072857
2012-08-31,641.527826,646.655217,637.138261,642.696087,8.995877e+07,88.040000
2012-09-28,682.118421,687.007895,676.095263,681.568421,1.210395e+08,93.464211
2012-10-31,638.667143,643.650476,628.213810,634.714286,1.445575e+08,87.040476
2012-11-30,567.038571,572.368095,557.075714,564.345714,1.539268e+08,77.673333
2012-12-31,533.336000,539.715000,524.967000,532.055000,1.516594e+08,73.294500
2013-01-31,500.083333,504.407619,492.970000,497.822381,1.562312e+08,68.580000
2013-02-28,458.503684,463.231053,452.106316,456.808947,1.229478e+08,63.218421
2013-03-29,442.011500,446.803500,437.338000,441.841000,1.147110e+08,61.221000
2013-04-30,419.766818,425.553182,414.722273,419.765000,1.245851e+08,58.162727
2013-05-31,446.400909,451.658182,441.495455,446.452727,1.073583e+08,62.157727
2013-06-28,427.962000,431.270500,422.053000,425.538000,8.773170e+07,59.353500
2013-07-31,428.257273,432.680455,424.906818,429.157273,7.429676e+07,59.858182
2013-08-30,484.059545,489.319545,480.346818,484.843636,9.157203e+07,67.974545
2013-09-30,482.772500,485.907500,476.861500,480.184500,1.078868e+08,67.419500
2013-10-31,504.148696,508.726957,499.542609,504.744783,8.519274e+07,70.865217
2013-11-29,523.218000,527.830000,520.223000,524.616500,6.531444e+07,74.021000
2013-12-31,560.648095,564.355238,556.405714,559.657619,8.401663e+07,79.034762
2014-01-31,538.100952,542.844762,533.065714,537.445714,1.043566e+08,75.897143
2014-02-28,525.721053,530.773684,522.126316,526.580000,7.737325e+07,74.741053
2014-03-31,533.593333,536.453810,530.070952,533.214286,5.954403e+07,75.750000
2014-04-30,540.081905,544.349048,536.262381,541.074286,7.660787e+07,76.867143
2014-05-30,601.301905,606.372857,598.332857,603.195714,6.828177e+07,86.058571
2014-06-30,222.360000,224.084286,220.735714,222.658095,5.745506e+07,91.885714
2014-07-31,94.294000,95.004000,93.488000,94.470000,4.218366e+07,94.470000

### Step 10.  What is the difference in days between the first day and the oldest

In [26]:
apple.index.max()- apple.index.min()

Timedelta('12261 days 00:00:00')

### Step 11.  How many months in the data we have?

In [28]:
b=apple.resample('MS').mean()
len(b)

404

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.